-- ============================================
-- MOTEUR DE RÈGLES T-SQL OPTIMISÉ
-- Version avec table temporaire par session
-- ============================================

--USE [VotreBase]
GO

SET NOCOUNT ON;
GO

-- ============================================
-- 1. TABLES PERMANENTES (Configuration)
-- ============================================

-- Vérifier et créer la base si nécessaire
PRINT 'Vérification de l''environnement...';
PRINT 'Base de données courante: ' + DB_NAME();
PRINT '';

-- Table des règles (partagée entre sessions)
IF OBJECT_ID('dbo.Rules', 'U') IS NOT NULL 
BEGIN
    PRINT 'Table dbo.Rules existe déjà, suppression...';
    DROP TABLE dbo.Rules;
END

PRINT 'Création de la table dbo.Rules...';
CREATE TABLE dbo.Rules (
    RuleId int IDENTITY(1,1) PRIMARY KEY,
    RuleCode nvarchar(50) UNIQUE NOT NULL,
    RuleName nvarchar(200) NOT NULL,
    Expression nvarchar(max) NOT NULL,
    CompiledExpression nvarchar(max) NULL,
    TokensJson nvarchar(max) NULL,
    IsCompiled bit DEFAULT 0,
    IsActive bit DEFAULT 1,
    ReturnType varchar(20) DEFAULT 'DECIMAL',
    Description nvarchar(500) NULL,
    CreatedDate datetime2 DEFAULT SYSDATETIME(),
    ModifiedDate datetime2 DEFAULT SYSDATETIME()
);
PRINT 'Table dbo.Rules créée avec succès';
PRINT '';
GO

-- Table de logs (optionnelle, partagée)
IF OBJECT_ID('dbo.RuleLogs', 'U') IS NOT NULL 
BEGIN
    PRINT 'Table dbo.RuleLogs existe déjà, suppression...';
    DROP TABLE dbo.RuleLogs;
END

PRINT 'Création de la table dbo.RuleLogs...';
CREATE TABLE dbo.RuleLogs (
    LogId bigint IDENTITY(1,1) PRIMARY KEY,
    SessionId int NOT NULL,  -- @@SPID de la session
    RuleCode nvarchar(50) NOT NULL,
    Status varchar(20) NOT NULL,
    ResultValue nvarchar(500) NULL,
    ErrorMsg nvarchar(500) NULL,
    ExecutionMs int NULL,
    LogDate datetime2 DEFAULT SYSDATETIME()
);
CREATE NONCLUSTERED INDEX IX_RuleLogs_Date ON dbo.RuleLogs(LogDate DESC);
CREATE NONCLUSTERED INDEX IX_RuleLogs_Session ON dbo.RuleLogs(SessionId, LogDate DESC);
PRINT 'Table dbo.RuleLogs créée avec succès';
PRINT '';
GO

-- ============================================
-- 2. STRUCTURE DE TABLE TEMPORAIRE
-- ============================================

-- Créer directement la table #Variables (pas via procédure pour le script initial)
IF OBJECT_ID('tempdb..#Variables') IS NOT NULL
    DROP TABLE #Variables;

CREATE TABLE #Variables (
    VarKey nvarchar(100) PRIMARY KEY,
    VarType varchar(20) NOT NULL CHECK (VarType IN ('DECIMAL','INTEGER','STRING','DATE','DATETIME','BOOLEAN')),
    
    -- Stockage polymorphe (une seule colonne non-NULL)
    ValueDecimal decimal(18,6) NULL,
    ValueInteger bigint NULL,
    ValueString nvarchar(500) NULL,
    ValueDate date NULL,
    ValueDateTime datetime2 NULL,
    ValueBoolean bit NULL,
    
    Category nvarchar(50) NULL,
    
    CONSTRAINT CK_Variables_OneValue CHECK (
        (CASE WHEN ValueDecimal IS NOT NULL THEN 1 ELSE 0 END +
         CASE WHEN ValueInteger IS NOT NULL THEN 1 ELSE 0 END +
         CASE WHEN ValueString IS NOT NULL THEN 1 ELSE 0 END +
         CASE WHEN ValueDate IS NOT NULL THEN 1 ELSE 0 END +
         CASE WHEN ValueDateTime IS NOT NULL THEN 1 ELSE 0 END +
         CASE WHEN ValueBoolean IS NOT NULL THEN 1 ELSE 0 END) = 1
    )
);

-- Index pour optimiser les patterns LIKE
CREATE NONCLUSTERED INDEX IX_Variables_Type ON #Variables(VarType) INCLUDE (VarKey);
GO

-- Procédure pour réinitialiser la table temporaire #Variables
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_InitVariables]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_InitVariables
GO
CREATE PROCEDURE dbo.sp_InitVariables
AS
BEGIN
    -- Vider la table si elle existe
    IF OBJECT_ID('tempdb..#Variables') IS NOT NULL
    BEGIN
        TRUNCATE TABLE #Variables;
    END
    ELSE
    BEGIN
        -- Créer la table si elle n'existe pas
        CREATE TABLE #Variables (
            VarKey nvarchar(100) PRIMARY KEY,
            VarType varchar(20) NOT NULL CHECK (VarType IN ('DECIMAL','INTEGER','STRING','DATE','DATETIME','BOOLEAN')),
            ValueDecimal decimal(18,6) NULL,
            ValueInteger bigint NULL,
            ValueString nvarchar(500) NULL,
            ValueDate date NULL,
            ValueDateTime datetime2 NULL,
            ValueBoolean bit NULL,
            Category nvarchar(50) NULL,
            CONSTRAINT CK_Variables_OneValue CHECK (
                (CASE WHEN ValueDecimal IS NOT NULL THEN 1 ELSE 0 END +
                 CASE WHEN ValueInteger IS NOT NULL THEN 1 ELSE 0 END +
                 CASE WHEN ValueString IS NOT NULL THEN 1 ELSE 0 END +
                 CASE WHEN ValueDate IS NOT NULL THEN 1 ELSE 0 END +
                 CASE WHEN ValueDateTime IS NOT NULL THEN 1 ELSE 0 END +
                 CASE WHEN ValueBoolean IS NOT NULL THEN 1 ELSE 0 END) = 1
            )
        );
        
        CREATE NONCLUSTERED INDEX IX_Variables_Type ON #Variables(VarType) INCLUDE (VarKey);
    END
END
GO

-- ============================================
-- 3. FONCTIONS UTILITAIRES
-- ============================================

-- Extraction des tokens
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_ExtractTokens]') and xtype in (N'FN', N'IF', N'TF'))
    DROP FUNCTION [dbo].fn_ExtractTokens
GO
CREATE FUNCTION dbo.fn_ExtractTokens(@Expr nvarchar(max))
RETURNS TABLE WITH SCHEMABINDING
AS
RETURN
WITH
L0 AS (SELECT 1 AS c UNION ALL SELECT 1),
L1 AS (SELECT 1 AS c FROM L0 AS A CROSS JOIN L0 AS B),
L2 AS (SELECT 1 AS c FROM L1 AS A CROSS JOIN L1 AS B),
L3 AS (SELECT 1 AS c FROM L2 AS A CROSS JOIN L2 AS B),
L4 AS (SELECT 1 AS c FROM L3 AS A CROSS JOIN L3 AS B),
N(n) AS (SELECT TOP (LEN(@Expr)) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) FROM L4),
T AS (SELECT n, SUBSTRING(@Expr, n, 1) c FROM N),
P AS (
    SELECT n, SUM(CASE WHEN c='{' THEN 1 WHEN c='}' THEN -1 ELSE 0 END)
        OVER (ORDER BY n ROWS UNBOUNDED PRECEDING) lvl
    FROM T
)
SELECT SUBSTRING(@Expr, s.n, e.n-s.n+1) AS Token
FROM P s JOIN P e ON e.n > s.n AND s.lvl = 1 AND e.lvl = 0
WHERE SUBSTRING(@Expr, s.n, 1)='{' AND SUBSTRING(@Expr, e.n, 1)='}';
GO

-- Parsing d'un token
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_ParseToken]') and xtype in (N'FN', N'IF', N'TF'))
    DROP FUNCTION [dbo].fn_ParseToken
GO
CREATE FUNCTION dbo.fn_ParseToken(@Token nvarchar(200))
RETURNS TABLE WITH SCHEMABINDING
AS
RETURN
SELECT
    @Token AS Token,
    CASE 
        WHEN @Token LIKE '{IIF(%,%,%)}' THEN 'IIF'
        WHEN @Token LIKE '{Sum(%)}' THEN 'SUM'
        WHEN @Token LIKE '{Avg(%)}' THEN 'AVG'
        WHEN @Token LIKE '{Max(%)}' THEN 'MAX'
        WHEN @Token LIKE '{Min(%)}' THEN 'MIN'
        WHEN @Token LIKE '{Count(%)}' THEN 'COUNT'
        WHEN @Token LIKE '{SUM[[]%]}'   THEN 'SUM'
        WHEN @Token LIKE '{AVG[[]%]}'   THEN 'AVG'
        WHEN @Token LIKE '{MAX[[]%]}'   THEN 'MAX'
        WHEN @Token LIKE '{MIN[[]%]}'   THEN 'MIN'
        WHEN @Token LIKE '{COUNT[[]%]}' THEN 'COUNT'
        WHEN @Token LIKE '{%(%)}' THEN UPPER(SUBSTRING(@Token, 2, CHARINDEX('(', @Token) - 2))
        ELSE 'DIRECT'
    END AS AggFunc,
    CASE 
        WHEN @Token LIKE '{%(%)}' THEN 
            SUBSTRING(@Token, CHARINDEX('(', @Token) + 1, CHARINDEX(')', @Token) - CHARINDEX('(', @Token) - 1)
        WHEN @Token LIKE '{%[[]%]}' THEN 
            SUBSTRING(@Token, CHARINDEX('[', @Token) + 1, CHARINDEX(']', @Token) - CHARINDEX('[', @Token) - 1)
        ELSE SUBSTRING(@Token, 2, LEN(@Token) - 2)
    END AS Pattern,
    CASE 
        WHEN @Token LIKE '%+}' THEN 'POSITIVE'
        WHEN @Token LIKE '%-}' THEN 'NEGATIVE'
        ELSE 'ALL'
    END AS ValueFilter,
    CASE 
        WHEN @Token LIKE '{IIF(%)}' THEN 'CONDITIONAL'
        WHEN @Token LIKE '{%(%)}' OR @Token LIKE '{%[[]%]}' THEN 'AGGREGATE'
        ELSE 'DIRECT'
    END AS TokenType;
GO

-- Validation d'expression
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_IsValidExpression]') and xtype in (N'FN', N'IF', N'TF'))
    DROP FUNCTION [dbo].fn_IsValidExpression
GO
CREATE FUNCTION dbo.fn_IsValidExpression(@Expr nvarchar(max))
RETURNS bit
AS
BEGIN
    IF @Expr IS NULL OR LEN(@Expr) > 8000 RETURN 0;
    IF @Expr LIKE '%DROP%' OR @Expr LIKE '%DELETE%' OR @Expr LIKE '%UPDATE%' 
        OR @Expr LIKE '%INSERT%' OR @Expr LIKE '%EXEC%' OR @Expr LIKE '%;%'
        OR @Expr LIKE '%--%' OR @Expr LIKE '%/*%' OR @Expr LIKE '%xp_%'
        OR @Expr LIKE '%sp_password%' OR @Expr LIKE '%sp_addlogin%'
        RETURN 0;
    RETURN 1;
END
GO

-- Validation des fonctions SQL
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[fn_IsValidSqlFunction]') and xtype in (N'FN', N'IF', N'TF'))
    DROP FUNCTION [dbo].fn_IsValidSqlFunction
GO
CREATE FUNCTION dbo.fn_IsValidSqlFunction(@FuncName nvarchar(50))
RETURNS bit
AS
BEGIN
    IF @FuncName IN (
        'ABS', 'SQRT', 'POWER', 'SQUARE', 'EXP', 'LOG', 'LOG10',
        'CEILING', 'FLOOR', 'ROUND', 'SIN', 'COS', 'TAN', 'ASIN', 'ACOS', 'ATAN',
        'SIGN', 'PI', 'DEGREES', 'RADIANS', 'SUM', 'AVG', 'MAX', 'MIN', 'COUNT',
        'IIF', 'LEN', 'UPPER', 'LOWER', 'TRIM', 'CONCAT',
        'YEAR', 'MONTH', 'DAY', 'DATEADD', 'DATEDIFF', 'GETDATE',
        'CAST', 'CONVERT', 'ISNULL', 'COALESCE'
    )
        RETURN 1;
    RETURN 0;
END
GO

-- Helper pour obtenir la valeur d'une variable depuis #Variables
-- Note: Doit être une procédure stockée, pas une fonction (tables temporaires)
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_GetTempVariableValue]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_GetTempVariableValue
GO
CREATE PROCEDURE dbo.sp_GetTempVariableValue
    @VarKey nvarchar(100),
    @Result nvarchar(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Vérifier que #Variables existe
    IF OBJECT_ID('tempdb..#Variables') IS NULL
    BEGIN
        SET @Result = NULL;
        RETURN;
    END
    
    SELECT @Result = 
        CASE VarType
            WHEN 'DECIMAL' THEN CAST(ValueDecimal AS nvarchar(50))
            WHEN 'INTEGER' THEN CAST(ValueInteger AS nvarchar(50))
            WHEN 'STRING' THEN '''' + REPLACE(ValueString, '''', '''''') + ''''
            WHEN 'DATE' THEN '''' + CONVERT(varchar(10), ValueDate, 120) + ''''
            WHEN 'DATETIME' THEN '''' + CONVERT(varchar(23), ValueDateTime, 121) + ''''
            WHEN 'BOOLEAN' THEN CAST(ValueBoolean AS nvarchar(1))
        END
    FROM #Variables
    WHERE VarKey = @VarKey;
END
GO

-- ============================================
-- 4. PROCÉDURES PRINCIPALES
-- ============================================

-- Compilation d'une règle
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_CompileRule]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_CompileRule
GO
CREATE PROCEDURE dbo.sp_CompileRule
    @RuleCode nvarchar(50),
    @Success bit OUTPUT,
    @ErrorMsg nvarchar(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Expression nvarchar(max);
    DECLARE @CompiledExpr nvarchar(max);
    DECLARE @TokensJson nvarchar(max);
    
    BEGIN TRY
        SELECT @Expression = Expression FROM dbo.Rules WHERE RuleCode = @RuleCode;
        
        IF @Expression IS NULL
        BEGIN
            SET @Success = 0;
            SET @ErrorMsg = 'Règle non trouvée';
            RETURN;
        END
        
        IF dbo.fn_IsValidExpression(@Expression) = 0
        BEGIN
            SET @Success = 0;
            SET @ErrorMsg = 'Expression non sécurisée';
            RETURN;
        END
        
        DECLARE @InvalidFunc nvarchar(50);
        
        SELECT @TokensJson = (
            SELECT 
                t.Token,
                p.AggFunc,
                p.Pattern,
                p.ValueFilter,
                p.TokenType,
                '@P' + CAST(ROW_NUMBER() OVER (ORDER BY t.Token) AS nvarchar(10)) AS Placeholder
            FROM (SELECT DISTINCT Token FROM dbo.fn_ExtractTokens(@Expression)) t
            CROSS APPLY dbo.fn_ParseToken(t.Token) p
            WHERE p.AggFunc = 'DIRECT' 
               OR p.AggFunc IN ('SUM','AVG','MAX','MIN','COUNT','IIF')
               OR dbo.fn_IsValidSqlFunction(p.AggFunc) = 1
            FOR JSON PATH
        );
        
        IF EXISTS (
            SELECT 1 
            FROM (SELECT DISTINCT Token FROM dbo.fn_ExtractTokens(@Expression)) t
            CROSS APPLY dbo.fn_ParseToken(t.Token) p
            WHERE p.AggFunc <> 'DIRECT' 
              AND p.AggFunc NOT IN ('SUM','AVG','MAX','MIN','COUNT','IIF')
              AND dbo.fn_IsValidSqlFunction(p.AggFunc) = 0
        )
        BEGIN
            SELECT TOP 1 @InvalidFunc = p.AggFunc
            FROM (SELECT DISTINCT Token FROM dbo.fn_ExtractTokens(@Expression)) t
            CROSS APPLY dbo.fn_ParseToken(t.Token) p
            WHERE p.AggFunc <> 'DIRECT' 
              AND p.AggFunc NOT IN ('SUM','AVG','MAX','MIN','COUNT','IIF')
              AND dbo.fn_IsValidSqlFunction(p.AggFunc) = 0;
            
            SET @Success = 0;
            SET @ErrorMsg = 'Fonction non autorisée: ' + @InvalidFunc;
            RETURN;
        END
        
        SET @CompiledExpr = @Expression;
        
        DECLARE @Token nvarchar(200), @Placeholder nvarchar(50);
        DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
            SELECT JSON_VALUE(value, '$.Token'), JSON_VALUE(value, '$.Placeholder')
            FROM OPENJSON(@TokensJson);
        
        OPEN cur;
        FETCH NEXT FROM cur INTO @Token, @Placeholder;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @CompiledExpr = REPLACE(@CompiledExpr, @Token, @Placeholder);
            FETCH NEXT FROM cur INTO @Token, @Placeholder;
        END
        CLOSE cur;
        DEALLOCATE cur;
        
        UPDATE dbo.Rules
        SET CompiledExpression = @CompiledExpr,
            TokensJson = @TokensJson,
            IsCompiled = 1,
            ModifiedDate = SYSDATETIME()
        WHERE RuleCode = @RuleCode;
        
        SET @Success = 1;
        SET @ErrorMsg = NULL;
        
    END TRY
    BEGIN CATCH
        SET @Success = 0;
        SET @ErrorMsg = ERROR_MESSAGE();
    END CATCH
END
GO

-- Évaluation d'un token (utilise #Variables)
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_EvaluateToken]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_EvaluateToken
GO
CREATE PROCEDURE dbo.sp_EvaluateToken
    @AggFunc varchar(50),
    @Pattern nvarchar(500),
    @ValueFilter varchar(20),
    @Result nvarchar(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Vérifier que #Variables existe
    IF OBJECT_ID('tempdb..#Variables') IS NULL
    BEGIN
        SET @Result = NULL;
        RETURN;
    END
    
    -- IIF
    IF @AggFunc = 'IIF'
    BEGIN
        DECLARE @Parts TABLE (PartNum int, PartValue nvarchar(500));
        DECLARE @PartStart int = 1, @ParenLevel int = 0, @PartNum int = 1;
        DECLARE @Char nchar(1), @Pos int = 1;
        DECLARE @CurrentPart nvarchar(500) = '';
        
        WHILE @Pos <= LEN(@Pattern)
        BEGIN
            SET @Char = SUBSTRING(@Pattern, @Pos, 1);
            
            IF @Char = '(' SET @ParenLevel = @ParenLevel + 1;
            ELSE IF @Char = ')' SET @ParenLevel = @ParenLevel - 1;
            ELSE IF @Char = ',' AND @ParenLevel = 0
            BEGIN
                INSERT INTO @Parts VALUES (@PartNum, LTRIM(RTRIM(@CurrentPart)));
                SET @PartNum = @PartNum + 1;
                SET @CurrentPart = '';
                SET @Pos = @Pos + 1;
                CONTINUE;
            END
            
            SET @CurrentPart = @CurrentPart + @Char;
            SET @Pos = @Pos + 1;
        END
        
        INSERT INTO @Parts VALUES (@PartNum, LTRIM(RTRIM(@CurrentPart)));
        
        DECLARE @Condition nvarchar(500), @TrueValue nvarchar(500), @FalseValue nvarchar(500);
        SELECT @Condition = PartValue FROM @Parts WHERE PartNum = 1;
        SELECT @TrueValue = PartValue FROM @Parts WHERE PartNum = 2;
        SELECT @FalseValue = PartValue FROM @Parts WHERE PartNum = 3;
        
        DECLARE @ConditionResolved nvarchar(1000) = @Condition;
        DECLARE @VarToken nvarchar(200);
        
        DECLARE var_cur CURSOR LOCAL FAST_FORWARD FOR
            SELECT DISTINCT Token FROM dbo.fn_ExtractTokens('{' + @Condition + '}')
            WHERE Token <> '{' + @Condition + '}';
        
        OPEN var_cur;
        FETCH NEXT FROM var_cur INTO @VarToken;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @VarName nvarchar(100) = SUBSTRING(@VarToken, 2, LEN(@VarToken) - 2);
            DECLARE @VarValue nvarchar(500);
            EXEC dbo.sp_GetTempVariableValue @VarName, @VarValue OUTPUT;
            SET @ConditionResolved = REPLACE(@ConditionResolved, @VarToken, ISNULL(@VarValue, 'NULL'));
            FETCH NEXT FROM var_cur INTO @VarToken;
        END
        CLOSE var_cur;
        DEALLOCATE var_cur;
        
        DECLARE @CondResult bit;
        DECLARE @SqlCond nvarchar(max) = N'SELECT @CondResult = CASE WHEN ' + @ConditionResolved + N' THEN 1 ELSE 0 END';
        
        BEGIN TRY
            EXEC sp_executesql @SqlCond, N'@CondResult bit OUTPUT', @CondResult OUTPUT;
            IF @CondResult = 1 SET @Result = @TrueValue;
            ELSE SET @Result = @FalseValue;
        END TRY
        BEGIN CATCH
            SET @Result = NULL;
        END CATCH
        
        RETURN;
    END
    
    -- Nettoyer le pattern
    DECLARE @CleanPattern nvarchar(200) = @Pattern;
    IF @CleanPattern LIKE '%+' OR @CleanPattern LIKE '%-'
        SET @CleanPattern = LEFT(@CleanPattern, LEN(@CleanPattern) - 1);
    
    -- Agrégations
    IF @AggFunc IN ('SUM', 'AVG', 'MAX', 'MIN', 'COUNT')
    BEGIN
        DECLARE @WhereClause nvarchar(500) = 'VarKey LIKE @Pattern AND VarType IN (''DECIMAL'',''INTEGER'')';
        
        IF @ValueFilter = 'POSITIVE'
            SET @WhereClause = @WhereClause + ' AND (ValueDecimal > 0 OR ValueInteger > 0)';
        ELSE IF @ValueFilter = 'NEGATIVE'
            SET @WhereClause = @WhereClause + ' AND (ValueDecimal < 0 OR ValueInteger < 0)';
        
        DECLARE @Sql nvarchar(max);
        DECLARE @NumResult decimal(18,6);
        
        SET @Sql = N'SELECT @NumResult = ' + @AggFunc + 
                   N'(ISNULL(ValueDecimal, ValueInteger)) FROM #Variables WHERE ' + @WhereClause;
        
        EXEC sp_executesql @Sql, 
            N'@Pattern nvarchar(200), @NumResult decimal(18,6) OUTPUT',
            @CleanPattern, @NumResult OUTPUT;
        
        SET @Result = CAST(@NumResult AS nvarchar(50));
    END
    ELSE IF @AggFunc = 'DIRECT'
    BEGIN
        EXEC dbo.sp_GetTempVariableValue @CleanPattern, @Result OUTPUT;
    END
    ELSE -- Fonctions SQL
    BEGIN
        IF dbo.fn_IsValidSqlFunction(@AggFunc) = 0
        BEGIN
            SET @Result = NULL;
            RETURN;
        END
        
        DECLARE @FuncSql nvarchar(max);
        DECLARE @FuncResult decimal(18,6);
        
        SET @FuncSql = N'SELECT @FuncResult = ' + @AggFunc + 
                       N'(SUM(ISNULL(ValueDecimal, ValueInteger))) FROM #Variables ' +
                       N'WHERE VarKey LIKE @Pattern AND VarType IN (''DECIMAL'',''INTEGER'')';
        
        EXEC sp_executesql @FuncSql, 
            N'@Pattern nvarchar(200), @FuncResult decimal(18,6) OUTPUT',
            @CleanPattern, @FuncResult OUTPUT;
        
        SET @Result = CAST(@FuncResult AS nvarchar(50));
    END
END
GO

-- Exécution d'une règle (utilise #Variables)
IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_ExecuteRule]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_ExecuteRule
GO
CREATE PROCEDURE dbo.sp_ExecuteRule
    @RuleCode nvarchar(50),
    @LogToDb bit = 0,  -- Logger dans la table permanente
    @Result nvarchar(500) OUTPUT,
    @Status varchar(20) OUTPUT,
    @ErrorMsg nvarchar(500) OUTPUT,
    @ExecTimeMs int OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StartTime datetime2 = SYSDATETIME();
    DECLARE @CompiledExpr nvarchar(max);
    DECLARE @TokensJson nvarchar(max);
    DECLARE @IsCompiled bit;
    
    BEGIN TRY
        -- Vérifier que #Variables existe
        IF OBJECT_ID('tempdb..#Variables') IS NULL
        BEGIN
            SET @Status = 'ERROR';
            SET @ErrorMsg = 'Table #Variables non initialisée. Appelez sp_InitVariables d''abord.';
            RETURN;
        END
        
        -- Charger la règle
        SELECT 
            @CompiledExpr = CompiledExpression,
            @TokensJson = TokensJson,
            @IsCompiled = IsCompiled
        FROM dbo.Rules WITH (NOLOCK)  -- Éviter les locks
        WHERE RuleCode = @RuleCode AND IsActive = 1;
        
        IF @CompiledExpr IS NULL
        BEGIN
            -- Debug: Vérifier si la règle existe
            DECLARE @RuleExists bit;
            SELECT @RuleExists = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
            FROM dbo.Rules WITH (NOLOCK)
            WHERE RuleCode = @RuleCode;
            
            IF @RuleExists = 0
                SET @ErrorMsg = 'Règle non trouvée: ' + @RuleCode;
            ELSE
                SET @ErrorMsg = 'Règle trouvée mais inactive ou CompiledExpression NULL';
            
            SET @Status = 'ERROR';
            RETURN;
        END
        
        -- Compiler si nécessaire
        IF @IsCompiled = 0
        BEGIN
            DECLARE @CompileSuccess bit;
            EXEC dbo.sp_CompileRule @RuleCode, @CompileSuccess OUTPUT, @ErrorMsg OUTPUT;
            
            IF @CompileSuccess = 0
            BEGIN
                SET @Status = 'ERROR';
                RETURN;
            END
            
            SELECT @CompiledExpr = CompiledExpression, @TokensJson = TokensJson
            FROM dbo.Rules WHERE RuleCode = @RuleCode;
        END
        
        -- Évaluer chaque token
        DECLARE @FinalExpr nvarchar(max) = @CompiledExpr;
        DECLARE @Placeholder nvarchar(50), @AggFunc varchar(50), @Pattern nvarchar(500);
        DECLARE @ValueFilter varchar(20), @TokenValue nvarchar(500);
        
        DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
            SELECT 
                JSON_VALUE(value, '$.Placeholder'),
                JSON_VALUE(value, '$.AggFunc'),
                JSON_VALUE(value, '$.Pattern'),
                ISNULL(JSON_VALUE(value, '$.ValueFilter'), 'ALL')
            FROM OPENJSON(@TokensJson);
        
        OPEN cur;
        FETCH NEXT FROM cur INTO @Placeholder, @AggFunc, @Pattern, @ValueFilter;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            EXEC dbo.sp_EvaluateToken @AggFunc, @Pattern, @ValueFilter, @TokenValue OUTPUT;
            
            IF @TokenValue IS NULL
            BEGIN
                SET @Status = 'ERROR';
                SET @ErrorMsg = 'Erreur d''évaluation: ' + @Pattern;
                CLOSE cur;
                DEALLOCATE cur;
                RETURN;
            END
            
            SET @FinalExpr = REPLACE(@FinalExpr, @Placeholder, @TokenValue);
            FETCH NEXT FROM cur INTO @Placeholder, @AggFunc, @Pattern, @ValueFilter;
        END
        CLOSE cur;
        DEALLOCATE cur;
        
        -- Évaluer l'expression finale
        DECLARE @Sql nvarchar(max) = N'SELECT @Result = CAST((' + @FinalExpr + N') AS nvarchar(500))';
        EXEC sp_executesql @Sql, N'@Result nvarchar(500) OUTPUT', @Result OUTPUT;
        
        SET @Status = 'SUCCESS';
        SET @ErrorMsg = NULL;
        
    END TRY
    BEGIN CATCH
        SET @Status = 'ERROR';
        SET @ErrorMsg = ERROR_MESSAGE();
        SET @Result = NULL;
    END CATCH
    
    SET @ExecTimeMs = DATEDIFF(MILLISECOND, @StartTime, SYSDATETIME());
    
    -- Logger si demandé
    IF @LogToDb = 1
    BEGIN
        INSERT INTO dbo.RuleLogs (SessionId, RuleCode, Status, ResultValue, ErrorMsg, ExecutionMs)
        VALUES (@@SPID, @RuleCode, @Status, @Result, @ErrorMsg, @ExecTimeMs);
    END
END
GO

-- ============================================
-- 5. EXEMPLES D'UTILISATION
-- ============================================

PRINT '========================================='
PRINT 'MOTEUR DE RÈGLES - Table temporaire'
PRINT '========================================='
PRINT ''
PRINT 'Session ID: ' + CAST(@@SPID AS varchar(10))
PRINT 'Table #Variables déjà créée et prête'
PRINT ''

-- Vider la table si elle contient des données de tests précédents
TRUNCATE TABLE #Variables;

-- 2. Insérer des variables (propres à cette session)
INSERT INTO #Variables (VarKey, VarType, ValueDecimal, Category) VALUES
    ('CA_Q1', 'DECIMAL', 125000.50, 'CA'),
    ('CA_Q2', 'DECIMAL', 145000.75, 'CA'),
    ('CA_Q3', 'DECIMAL', -5000.00, 'CA'),
    ('CA_Q4', 'DECIMAL', 155000.00, 'CA'),
    ('OBJECTIF', 'DECIMAL', 400000, 'TARGET');

INSERT INTO #Variables (VarKey, VarType, ValueInteger, Category) VALUES
    ('NB_CLIENTS', 'INTEGER', 250, 'CLIENT'),
    ('NB_COMMANDES', 'INTEGER', 1200, 'CLIENT');

INSERT INTO #Variables (VarKey, VarType, ValueString, Category) VALUES
    ('REGION', 'STRING', 'Europe', 'GEO'),
    ('STATUS', 'STRING', 'ACTIF', 'ETAT');


PRINT 'Variables insérées: ' + CAST(@@ROWCOUNT AS varchar(10))
PRINT ''
PRINT 'Contenu de #Variables :'
SELECT * FROM #Variables ORDER BY Category, VarKey;
PRINT ''

-- 3. Créer des règles (partagées entre toutes les sessions)
PRINT '--- Insertion des règles ---';

-- Insérer les règles

DECLARE @InsertedCount int = @@ROWCOUNT;
PRINT 'Règles insérées: ' + CAST(@InsertedCount AS varchar(10));
PRINT '';

-- Vérifier que les règles sont bien là
PRINT 'Vérification des règles dans la table:';
DECLARE @RuleCount int;
SELECT @RuleCount = COUNT(*) FROM dbo.Rules;
PRINT 'Nombre de règles dans dbo.Rules: ' + CAST(@RuleCount AS varchar(10));

IF @RuleCount > 0
BEGIN
    SELECT RuleCode, RuleName, Expression, IsCompiled, IsActive FROM dbo.Rules;
END
ELSE
BEGIN
    PRINT 'ATTENTION: Aucune règle trouvée dans dbo.Rules !';
END
PRINT '';

-- Compiler toutes les règles
PRINT '';
PRINT 'Compilation des règles...';
DECLARE @CompileRuleCode nvarchar(50);
DECLARE @CompileSuccess bit;
DECLARE @CompileError nvarchar(500);

DECLARE compile_cursor CURSOR FOR
    SELECT RuleCode FROM dbo.Rules WHERE IsCompiled = 0;

OPEN compile_cursor;
FETCH NEXT FROM compile_cursor INTO @CompileRuleCode;

WHILE @@FETCH_STATUS = 0
BEGIN
    EXEC dbo.sp_CompileRule @CompileRuleCode, @CompileSuccess OUTPUT, @CompileError OUTPUT;
    
    IF @CompileSuccess = 1
        PRINT '  ' + @CompileRuleCode + ': OK';
    ELSE
        PRINT '  ' + @CompileRuleCode + ': ERREUR - ' + @CompileError;
    
    FETCH NEXT FROM compile_cursor INTO @CompileRuleCode;
END

CLOSE compile_cursor;
DEALLOCATE compile_cursor;

PRINT 'Compilation terminée';
PRINT ''

-- 4. Exécuter les règles
PRINT '--- Résultats des règles ---'
PRINT ''

DECLARE @Result nvarchar(500), @Status varchar(20), @Error nvarchar(500), @ExecTime int;
DECLARE @RuleCode nvarchar(50), @RuleName nvarchar(200);

DECLARE rule_cursor CURSOR FOR
    SELECT RuleCode, RuleName FROM dbo.Rules WHERE IsActive = 1 ORDER BY RuleId;

OPEN rule_cursor;
FETCH NEXT FROM rule_cursor INTO @RuleCode, @RuleName;

WHILE @@FETCH_STATUS = 0
BEGIN
    EXEC dbo.sp_ExecuteRule @RuleCode, 0, @Result OUT, @Status OUT, @Error OUT, @ExecTime OUT;
    
    IF @Status = 'SUCCESS'
        PRINT @RuleName + ': ' + @Result + ' (' + CAST(@ExecTime AS varchar(10)) + 'ms)';
    ELSE
        PRINT @RuleName + ': ' + @Status + ' - ' + ISNULL(@Error, 'Erreur inconnue');
    
    FETCH NEXT FROM rule_cursor INTO @RuleCode, @RuleName;
END

CLOSE rule_cursor;
DEALLOCATE rule_cursor;

PRINT ''
PRINT '========================================='
PRINT 'Avantages de la table temporaire :'
PRINT '========================================='
PRINT '1. ISOLATION PARFAITE'
PRINT '   - Chaque session a sa propre table #Variables'
PRINT '   - Pas de collision entre sessions'
PRINT '   - Pas de ContextId nécessaire'
PRINT ''
PRINT '2. PERFORMANCE OPTIMALE'
PRINT '   - Pas de contention (locks)'
PRINT '   - Pas de deadlocks entre sessions'
PRINT '   - Index optimisés pour la session'
PRINT '   - Cleanup automatique à la fin de la session'
PRINT ''
PRINT '3. SIMPLICITÉ'
PRINT '   - Pas de gestion de contexte'
PRINT '   - Pas de hash pour le cache'
PRINT '   - Code plus simple et lisible'
PRINT ''
PRINT '4. SCALABILITÉ'
PRINT '   - Supporte N sessions simultanées'
PRINT '   - Pas de table permanente volumineuse'
PRINT '   - Pas de purge de données nécessaire'
PRINT ''
PRINT '========================================='
PRINT 'Utilisation recommandée :'
PRINT '========================================='
PRINT 'Session 1 (Transaction A) :'
PRINT '  EXEC sp_InitVariables'
PRINT '  INSERT INTO #Variables (...)'
PRINT '  EXEC sp_ExecuteRule ''REGLE_A'''
PRINT ''
PRINT 'Session 2 (Transaction B, simultanée) :'
PRINT '  EXEC sp_InitVariables'
PRINT '  INSERT INTO #Variables (...) -- Données différentes'
PRINT '  EXEC sp_ExecuteRule ''REGLE_A'''
PRINT ''
PRINT '→ Les 2 sessions sont totalement isolées'
PRINT '→ Aucune interférence ni lock'
PRINT '========================================='
GO

-- ============================================
-- 6. TEST DE CONCURRENCE
-- ============================================

PRINT ''
PRINT '========================================='
PRINT 'TEST DE CONCURRENCE (Simulation)'
PRINT '========================================='
PRINT ''

-- Simuler plusieurs sessions avec différentes données
PRINT 'Session ' + CAST(@@SPID AS varchar(10)) + ' - Données actuelles:'
SELECT 
    COUNT(*) AS NbVariables,
    SUM(CASE WHEN VarType = 'DECIMAL' THEN 1 ELSE 0 END) AS NbDecimal,
    SUM(CASE WHEN VarType = 'INTEGER' THEN 1 ELSE 0 END) AS NbInteger,
    SUM(CASE WHEN VarType = 'STRING' THEN 1 ELSE 0 END) AS NbString,
    SUM(CASE WHEN VarType = 'BOOLEAN' THEN 1 ELSE 0 END) AS NbBoolean
FROM #Variables;

PRINT ''
PRINT 'Note: Pour tester la concurrence réelle, ouvrir une nouvelle'
PRINT 'fenêtre de requête (nouvelle session) et exécuter :'
PRINT ''
PRINT '-- Dans Session 2 (nouveau onglet SQL)'
PRINT 'EXEC sp_InitVariables;'
PRINT 'INSERT INTO #Variables (VarKey, VarType, ValueDecimal) VALUES'
PRINT '  (''CA_Q1'', ''DECIMAL'', 999999);  -- Valeur différente!'
PRINT 'DECLARE @R nvarchar(500), @S varchar(20), @E nvarchar(500), @T int;'
PRINT 'EXEC sp_ExecuteRule ''CA_TOTAL'', 0, @R OUT, @S OUT, @E OUT, @T OUT;'
PRINT 'PRINT ''Résultat Session 2: '' + @R;'
PRINT ''
PRINT '→ Chaque session aura son propre résultat'
PRINT '→ Aucune interférence entre les sessions'
PRINT '========================================='
GO

-- ============================================
-- 7. PROCÉDURE HELPER POUR BULK INSERT
-- ============================================

IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[sp_LoadVariablesFromTable]') and xtype in (N'P'))
    DROP PROCEDURE [dbo].sp_LoadVariablesFromTable
GO
CREATE PROCEDURE dbo.sp_LoadVariablesFromTable
    @SourceTable nvarchar(128)  -- Nom de la table source
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Vérifier que #Variables existe
    IF OBJECT_ID('tempdb..#Variables') IS NULL
    BEGIN
        RAISERROR('Table #Variables non initialisée. Appelez sp_InitVariables d''abord.', 16, 1);
        RETURN;
    END
    
    -- Charger les données depuis une table source
    DECLARE @Sql nvarchar(max) = N'
    INSERT INTO #Variables (VarKey, VarType, ValueDecimal, ValueInteger, ValueString, ValueDate, ValueDateTime, ValueBoolean, Category)
    SELECT VarKey, VarType, ValueDecimal, ValueInteger, ValueString, ValueDate, ValueDateTime, ValueBoolean, Category
    FROM ' + QUOTENAME(@SourceTable);
    
    BEGIN TRY
        EXEC sp_executesql @Sql;
        PRINT 'Variables chargées: ' + CAST(@@ROWCOUNT AS varchar(10));
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMsg nvarchar(4000) = ERROR_MESSAGE();
        RAISERROR('Erreur lors du chargement: %s', 16, 1, @ErrorMsg);
    END CATCH
END
GO

-- ============================================
-- 8. VUE POUR MONITORING (SESSION ACTIVE)
-- ============================================

IF EXISTS (SELECT * FROM [dbo].sysobjects WHERE id = OBJECT_ID(N'[dbo].[vw_RulePerformance]') and xtype in (N'V'))
    DROP VIEW [dbo].vw_RulePerformance
GO
CREATE VIEW dbo.vw_RulePerformance
AS
SELECT 
    RuleCode,
    Status,
    COUNT(*) AS ExecutionCount,
    AVG(ExecutionMs) AS AvgTimeMs,
    MAX(ExecutionMs) AS MaxTimeMs,
    MIN(ExecutionMs) AS MinTimeMs,
    SUM(CASE WHEN Status = 'ERROR' THEN 1 ELSE 0 END) AS ErrorCount,
    MAX(LogDate) AS LastExecuted
FROM dbo.RuleLogs
WHERE LogDate >= DATEADD(HOUR, -24, SYSDATETIME())
GROUP BY RuleCode, Status;
GO

PRINT ''
PRINT '========================================='
PRINT 'Vue de monitoring créée :'
PRINT 'SELECT * FROM vw_RulePerformance'
PRINT '========================================='
GO

-- ============================================
-- 9. COMPARAISON DES APPROCHES
-- ============================================

PRINT ''
PRINT '========================================='
PRINT 'COMPARAISON : Table permanente vs Temporaire'
PRINT '========================================='
PRINT ''
PRINT '+------------------------+------------------+-------------------+'
PRINT '| Critère                | Table permanente | Table temporaire  |'
PRINT '+------------------------+------------------+-------------------+'
PRINT '| Isolation sessions     | ContextId requis | Automatique       |'
PRINT '| Locks / Contention     | Élevé            | Aucun             |'
PRINT '| Deadlocks possibles    | Oui              | Non               |'
PRINT '| Performance            | Moyenne          | Excellente        |'
PRINT '| Complexité code        | Élevée           | Simple            |'
PRINT '| Cache nécessaire       | Oui (hash)       | Non (session)     |'
PRINT '| Purge données          | Manuelle         | Automatique       |'
PRINT '| Historique             | Oui              | Non (logs séparés)|'
PRINT '| Scalabilité            | Limitée          | Illimitée         |'
PRINT '| Transactions longues   | Problématique    | Optimal           |'
PRINT '+------------------------+------------------+-------------------+'
PRINT ''
PRINT 'RECOMMANDATION :'
PRINT '→ Utiliser #Variables (table temporaire) pour :'
PRINT '  - Calculs en temps réel'
PRINT '  - Sessions concurrentes'
PRINT '  - Transactions courtes/moyennes'
PRINT '  - Besoins de performance élevés'
PRINT ''
PRINT '→ Utiliser table permanente uniquement pour :'
PRINT '  - Historique long terme'
PRINT '  - Audit trail'
PRINT '  - Données partagées entre sessions'
PRINT '========================================='
GO

-- ============================================
-- 10. EXEMPLE AVANCÉ : BATCH PROCESSING
-- ============================================

PRINT ''
PRINT '========================================='
PRINT 'EXEMPLE : Traitement en lot (Batch)'
PRINT '========================================='
PRINT ''

-- Créer une table de résultats (supprimer si existe déjà)
IF OBJECT_ID('tempdb..#ResultatsBatch') IS NOT NULL
    DROP TABLE #ResultatsBatch;

CREATE TABLE #ResultatsBatch (
    BatchId int,
    RuleCode nvarchar(50),
    Result nvarchar(500),
    ExecutionMs int
);

-- Simuler 3 contextes différents en batch
DECLARE @BatchId int = 1;

WHILE @BatchId <= 3
BEGIN
    PRINT 'Traitement Batch ' + CAST(@BatchId AS varchar(10));
    
    -- Vider les variables pour chaque batch (pas besoin de DROP/CREATE)
    TRUNCATE TABLE #Variables;
    
    -- Insérer des données différentes pour chaque batch
    
    PRINT '  Variables insérées: ' + CAST(@@ROWCOUNT AS varchar(10));
    
    -- Vérifier les données
    DECLARE @SumTest decimal(18,6);
    SELECT @SumTest = SUM(ValueDecimal) FROM #Variables WHERE VarKey LIKE 'CA_Q%';
    PRINT '  Somme des CA (test direct): ' + CAST(@SumTest AS varchar(50));
    
    -- Exécuter une règle
    DECLARE @R nvarchar(500), @S varchar(20), @E nvarchar(500), @T int;
    
    -- Initialiser les variables
    SET @R = NULL;
    SET @S = NULL;
    SET @E = NULL;
    SET @T = NULL;
    
    EXEC dbo.sp_ExecuteRule 'CA_TOTAL', 0, @R OUT, @S OUT, @E OUT, @T OUT;
    
    -- Debug: Afficher tous les détails
    PRINT '  Status: ' + ISNULL(@S, 'NULL');
    PRINT '  Result: ' + ISNULL(@R, 'NULL');
    PRINT '  Error: ' + ISNULL(@E, 'NULL');
    PRINT '  Time: ' + ISNULL(CAST(@T AS varchar(10)), 'NULL') + 'ms';
    
    -- Stocker le résultat (mettre 0 si @T est NULL)
    INSERT INTO #ResultatsBatch VALUES (@BatchId, 'CA_TOTAL', @R, ISNULL(@T, 0));
    
    SET @BatchId = @BatchId + 1;
END

PRINT ''
PRINT 'Résultats du traitement en lot :'
SELECT * FROM #ResultatsBatch;

PRINT ''
PRINT '→ Chaque batch a été traité indépendamment'
PRINT '→ Isolation parfaite entre les itérations'
PRINT '→ Pas de risque de mélange de données'
PRINT ''

DROP TABLE #ResultatsBatch;

PRINT '========================================='
PRINT 'Installation terminée avec succès !'
PRINT '========================================='
PRINT ''
PRINT 'Workflow recommandé :'
PRINT '1. EXEC sp_InitVariables'
PRINT '2. INSERT INTO #Variables (...)'
PRINT '3. EXEC sp_ExecuteRule @RuleCode, ...'
PRINT '4. Résultats immédiats, isolation garantie'
PRINT '========================================='
GO